.wrapper {
    text-align: center;
}

.btn {
    width: 100%;
    padding: 8px 0px;
    border-radius: 10px;
    font-size: 1.8rem;

    &:hover {
        filter: brightness(110%);
    }
}

.separate {
    display: flex;
    align-items: center;
    color: var(--text-color-loginAndSignup);
    font-size: 1.4rem;
    max-width: 230px;
    margin: 0 auto;
}
.separate-line {
    flex-grow: 1;
    background-color: var(--text-color-loginAndSignup);
    height: 1px;
}
.separate-text {
    margin: 6px 4px;
}

.google-icon {
    width: 20px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 36%;
}

.error-message {
    display: block;
    margin: -6px 0 16px 0;
    color: #dc2626;
}
