.wrapper {
    display: flex;
    // flex-direction: column;
    // align-items: center;
}

.container {
    position: relative;
    left: var(--default-layout-sidebar-width);
    width: calc(var(--default-layout-width) - 230px);
    max-width: 100%;
    padding: 0 var(--default-layout-horizontal-spacer);
    display: flex;
    margin-top: var(--default-layout-header-height);
}

.content {
    flex: 1;
}
