.menu-item {
    display: flex;
    align-items: center;
    font-size: 2rem;
    font-weight: 500;
    border-radius: 4px;
    color: var(--white-color);
    transition: background-color ease-in-out 200ms;
    padding: 6px 33px;
    margin: 8px 0;
    width: 190px;

    &.active {
        color: var(--header-color);
        background-color: var(--white-color);
    }

    &:hover {
        color: var(--header-color);
        background-color: var(--white-color);
    }
}

.title {
    margin-left: 10px;
}
