.wrapper {
    border-radius: 10px;
    padding: 12px 30px;
    margin: 0 0 16px 0;
    width: 100%;
    max-width: 330px;
    border: 2px solid var(--border-input-color);
}

.input {
    width: 100%;
    height: 100%;
    font-size: 1.6rem;
}
