.search,
.search-results {
    width: 361px;
}
.search {
    position: relative;
    height: 40px;
    padding-left: 16px;
    // background-color: rgba(22, 24, 35, 0.06);
    background-color: #3c3c3c;
    border-radius: var(--search-border-radius);
    display: flex;
    border: 1.5px solid var(--primary-color);

    input {
        flex: 1;
        height: 100%;
        padding-right: 40px;
        color: var(--white-color);
        font-size: 1.6rem;
        caret-color: var(--primary-color);
        background-color: transparent;
        font-family: var(--font-family);
    }

    input:not(:placeholder-shown) ~ .search-btn {
        color: rgba(22, 24, 35, 0.75);
        color: var(--primary-color);
    }

    &::after {
        content: '';
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: var(--search-button-width);
        height: 28px;
        width: 1px;
        background-color: var(--primary-color);
    }
    &:focus-within {
        border: 1.5px solid var(--primary-color);
    }
}

.search-title {
    color: rgba(22, 24, 35, 0.5);
    padding: 5px 12px;
    font-size: 1.4rem;
    font-weight: 600px;
}
.clear,
.loading {
    background-color: transparent;
    position: absolute;
    right: calc(var(--search-button-width) + 16px);
    top: 50%;
    transform: translateY(-50%);
    color: #a8a3a3;
}
.loading {
    animation: spinner 0.8s linear infinite;
}
@keyframes spinner {
    from {
        transform: translateY(-50%) rotate(0);
    }
    to {
        transform: translateY(-50%) rotate(360deg);
    }
}
.search-btn {
    width: var(--search-button-width);
    height: 100%;
    border-top-right-radius: var(--search-border-radius);
    border-bottom-right-radius: var(--search-border-radius);
    background-color: #0000;
    font-size: 1.6rem;
    color: #a8a3a3;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
        cursor: pointer;
        color: var(--primary-color);
    }
    &:active {
        color: var(--primary-color);
    }
}
