.wrapper {
    // width: 100%;
}
.title {
    font-size: 2rem;
    margin: 15px 0;
}

.option {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.btn-option {
    display: flex;
}

.btn,
.option-date {
    border: 2px solid #dcdcdc;
    background-color: #fff;
    color: var(--black-color);
    max-width: 100px;

    &:hover {
        border-color: var(--primary-color);
    }
}
.btn {
    &:hover {
        background-color: var(--primary-color);
        color: var(--white-color);
    }
}

.active {
    background-color: var(--primary-color);
    color: var(--white-color);
    border-color: var(--primary-color);
}

.option-date {
    &:focus {
        border-color: var(--primary-color);
    }
}

.separate {
    padding: 0 6px;
    font-size: 2.8rem;
}

.dropdown {
    background-color: white;
    border-radius: 6px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    padding: 8px 0;
    max-height: 320px;
    min-width: 102px;
    overflow-y: overlay;
}

.dropdown--month {
    max-width: 106px;
}

.dropdown--year {
    // padding: 8px 16px;
}

.dropdown-item {
    // padding: 8px 15px;
    padding: 8px 9px;
    cursor: pointer;

    &:hover {
        background-color: #f0f0f0;
        color: var(--primary-color);
        background-color: rgba(249, 233, 208, 0.5);
    }
}

.dropdown-item--month {
    padding: 8px 12px;
}

.dropdown-item--year {
    padding: 8px 16px;
}

.error-message {
    margin: -6px 0 16px 0;
    color: #dc2626;
}

.btn-nextStep {
    text-align: end;
    margin-top: 20px;
    width: 100%;
}

.google-icon {
    width: 20px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 36%;
}
